.techs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-color-secondary);

  h1 {
    margin-bottom: 0;
    padding: 0 1.5rem;
  }
}

.techs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem;
  gap: 1.5rem;
  width: 100%;
  font-size: 6.25rem;
}

.techs-name {
  text-align: center;
  font-size: 1.25rem;
}

.techs-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 17.1875rem;
  height: 16.25rem;
  border-radius: 0.3125rem;
  border: 0.125rem solid white;
}

.logoJs {
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}

@media (min-width: 720px) {
  .techs {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
  }
}

@media (min-width: 921px) {
  .techs-container {
    justify-content: space-between;
  }
}

@media (min-width: 1023px) {
  .techs-container {
    max-width: 64rem;
  }
}

@media (min-width: 1199px) {
  .techs-container {
    max-width: 75rem;
  }
}
