.certificates {
  padding: 2rem 1.5rem;
  padding-bottom: 0;
}

.certificates-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.certificate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.certificate img {
  border-radius: 0.5rem;
  width: 100%;
  max-width: 37.5rem;
  transition: all 0.2s ease-in-out;
}

.certificate img:hover {
  opacity: 0.7;
}

@media (min-width: 767px) {
  .certificates {
    padding: 2rem 1.5rem;
    padding-bottom: 0;
  }

  .certificates-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .certificate {
    margin-bottom: 0;
  }

  .certificate img {
    height: 15.5rem;
  }

  .certificate:last-child {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 900px) {
  .certificate img {
    height: 18.5rem;
  }
}

@media (min-width: 1023px) {
  .certificates {
    display: grid;
    max-width: 64rem;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }

  .certificate img {
    height: 13.75rem;
    width: 100%;
  }

  .certificates-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}

@media (min-width: 1199px) {
  .certificates {
    max-width: 75rem;
  }

  .certificate img {
    height: 17.5rem;
  }
}
