.header {
  display: flex;
  justify-content: center;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
}

.title {
  margin: 1.25rem 0;
  font-size: 1.75rem;
  font-family: var(--font-family-primary);
}

.paragraph {
  color: var(--text-color-secondary);
  font-size: 0.875rem;
}

.emphasis {
  color: var(--text-color-primary);
}

.header-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 50%;
  border: 0.25rem solid var(--yellow-primary);
  overflow: hidden;
  max-width: 31.25rem;
}

.self-picture {
  width: 100%;
  scale: 1.15;
}

@media (min-width: 767px) {
  .title {
    font-size: 2.6rem;
  }

  .paragraph {
    font-size: 1rem;
  }
}

@media (min-width: 1023px) {
  .header {
    width: 64rem;
    margin: 0 auto;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }

  .header-texts {
    max-width: 50%;
  }

  .header-image {
    user-select: none;
    margin: 0 0 0 4rem;
  }

  /* Typewriting effect */
  .header-content h1 {
    overflow: hidden;
    border-right: 0.15em solid var(--yellow-primary);
    white-space: nowrap;
    margin-right: 0.625rem;
    animation: typing 2s steps(30, end), blink-caret 0.9s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 30.9375rem;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: var(--yellow-primary);
    }
  }
  /* end effect */
}

@media (min-width: 1199px) {
  .header {
    width: 75rem;
  }

  .header-content h1 {
    margin-right: 6.0625rem;
  }
}

@media (min-width: 1439px) {
  .header {
    margin: 2rem auto;
  }

  .paragraph {
    line-height: 1.5;
  }
}
