.certificates {
  padding: 2rem 1.5rem;
  padding-bottom: 0;
  margin-bottom: 6rem;
}

.certificate {
  display: flex !important;
  justify-content: center;
  padding: 0.75rem;
}

.certificate img {
  border-radius: 0.5rem;
  width: 100%;
}

.slick-dots button:before {
  color: #fff !important;
}

@media (min-width: 767px) {
  .certificates {
    padding: 2rem 1.5rem;
    padding-bottom: 0;
  }
}

@media (min-width: 1023px) {
  .certificates {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1199px) {
  .certificates {
    max-width: 75rem;
  }
}
