.button-fixed svg {
  position: fixed;
  bottom: 1.875rem;
  right: 1.875rem;
  z-index: 100;
  color: var(--text-color-tertiary);
  background-color: var(--bg-color-tertiary);
  padding: 0.3125rem;
  font-size: 1.875rem;
  border-radius: 0.1875rem;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.5);
  animation: fadeIn .2s ease-in-out;
  transition: .2s ease-in-out;
}

.button-fixed svg:hover {
  background-color: var(--bg-color-hover);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (min-width: 622px) {
  .button-fixed svg {
    font-size: 2.125rem;
  }
}

@media (min-width: 1023px) {
  .button-fixed svg {
    right: 2.5rem;
  }
}

@media (min-width: 1199px) {
  .button-fixed svg {
    right: 3.125rem;
  }
}

@media (min-width: 1400px) {
  .button-fixed svg {
    right: 3.75rem;
  }
}